<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Coding Questions And There Answers."/>
    <title>Hitesh's Project</title>

    <!--Importing Libs-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Lustria&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.4.47/css/materialdesignicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/vue@3.4.19/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.8/dist/vuetify.min.js"></script>
</head>
<body>
<div id="app">
    <!--Main Container-->
    <v-app>
        <div>
            <!--Starting Toolbar/Main Heading-->
            <v-app-bar color="teal" dark>
                <v-app-bar-title>Question And Answer</v-app-bar-title>
                <v-spacer></v-spacer>
            </v-app-bar>
            <!--Ending Toolbar/Main Heading-->

            <v-main>
                <v-container>
                    <!--Looping Through The questions And Displaying Each Question-->
                    <v-card v-for="(question, index) in questions" :key="index" class="mb-4 question">
                        <v-row>
                            <v-col cols="12" sm="6">
                                <v-card-title><h2 class="text-h5 text-teal">{{
                                    question.question }}</h2></v-card-title>
                                <v-card-text>
                                    <div class="description q1">
                                        <blockquote class="fq">
                                            <v-icon>mdi-format-quote-open</v-icon> <q>{{ question.description }}</q>
                                        </blockquote>
                                    </div>
                                </v-card-text>
                            </v-col>

                            <!--Code Examples Box-->
                            <v-col cols="12" sm="6">
                                <v-card-text>
                                    <v-toolbar
                                            color="orange-darken-4"
                                            dark
                                    >
                                        <v-toolbar-title>Code Examples</v-toolbar-title>
                                        <v-spacer></v-spacer>

                                        <!-- Copy To Clipboard Button -->
                                        <v-tooltip text="Click To Copy Code">
                                            <template v-slot:activator="{ props }">
                                                <v-btn icon v-bind="props" @click="copyCode(question.answers[active[index] || 0].answer)">
                                                    <v-icon>mdi-content-copy</v-icon>
                                                </v-btn>
                                            </template>
                                        </v-tooltip>
                                    </v-toolbar>

                                    <!--The Tabs Menu For Displaying Code for Specific Language-->
                                    <v-tabs
                                            v-model="active[index]"
                                            color="orange-darken-4"
                                            slider-color="yellow">
                                        <v-tab
                                                v-for="(answer, n) in question.answers"
                                                :key="n"
                                                :value="n"
                                        >
                                            <span class="tab-item">{{ answer.lang }}</span>
                                        </v-tab>
                                    </v-tabs>

                                    <!-- This Is where The Example Code Shows up. -->
                                    <v-window v-model="active[index]">
                                        <v-window-item
                                                v-for="(answer, n) in question.answers"
                                                :key="n"
                                                :value="n"
                                        >
                                            <v-card class="code">
                                                <!--I Used Highlight.js To format the code-->
                                                <pre><code :class="answer.lang" v-html="highlightCode(answer.answer, answer.lang)"></code></pre>
                                            </v-card>
                                        </v-window-item>
                                    </v-window>
                                </v-card-text>
                            </v-col>
                        </v-row>
                        <v-divider></v-divider>
                    </v-card>
                </v-container>
            </v-main>
        </div>

        <!--The Alert Box-->
        <v-snackbar v-model="snackbar" :timeout="6000" location="bottom">
            {{ snackbarMsg }}
            <template v-slot:actions>
                <v-btn color="pink" variant="text" @click="snackbar = false">Close</v-btn>
            </template>
        </v-snackbar>

        <!--Bottom Menu-->
        <v-speed-dial v-model="fab" location="bottom end" open-on-hover transition="slide-x-transition">
            <template v-slot:activator="{ props: activatorProps }">
                <v-btn v-bind="activatorProps" color="blue-darken-1" icon="mdi-account-circle" size="large"></v-btn>
            </template>

            <v-tooltip text="Go Back To Home" location="left">
                <template v-slot:activator="{ props }">
                    <v-btn v-bind="props" icon="mdi-home" size="small" color="red-darken-2" href="https://bubundas.com"></v-btn>
                </template>
            </v-tooltip>

            <v-tooltip text="Email Me" location="left">
                <template v-slot:activator="{ props }">
                    <v-btn v-bind="props" icon="mdi-at" size="small" color="teal-darken-2" href="mailto:bubundas17@gmail.com"></v-btn>
                </template>
            </v-tooltip>

            <v-tooltip text="View On Github" location="left">
                <template v-slot:activator="{ props }">
                    <v-btn v-bind="props" icon="mdi-github-circle" size="small" color="black" href="https://github.com/bubundas17/hiteshs-project"></v-btn>
                </template>
            </v-tooltip>
        </v-speed-dial>
    </v-app>
</div>

<!--This Is Where The Question And Answers Coming From -->
<script src="./assets/js/questions.js"></script>
<!--The Main Javascript File-->
<script src="./assets/js/app.js"></script>
</body>
</html>